---

- hosts: pythonbox
  sudo: True

  vars:
    app_name: my_app
    repo_url: https://github.com/someuser/myapp
    repo_remote: origin
    repo_version: master
    webapps_dir: /srv/webapps
    wsgi_file: app.py
    wsgi_callable: app
    app_database:
      name: my_app_db
      user: my_app_db_user
      password: my_app_db_password

  tasks:
    - name: ensure log directory
      file: dest={{ webapps_dir }}/{{ app_name }}/log state=directory

    - name: deploy code from repository
      git: repo=$repo_url dest={{ webapps_dir }}/{{ app_name }} remote= {{ repo_remote }} version={{ repo_version }}


    - name: install dependencies into virtualenv
      pip: requirements={{ webapps_dir }}/{{ app_name }}/requirements.txt virtualenv={{ webapps_dir }}/{{ app_name }}/venv state=present

    - name: create supervisor program config
      template: src=templates/supervisor_app.conf dest=/etc/supervisor/conf.d/{{ app_name }}.conf
      notify:
        - restart app

    - name: create nginx site config
      template: src=templates/nginx_site.conf dest=/etc/nginx/sites-available/{{ app_name }}.conf
      notify:
        - restart nginx

    - name: link nginx config
      file: src=/etc/nginx/sites-available/{{ app_name }}.conf dest=/etc/nginx/sites-enabled/{{ app_name }}.conf state=link
      notify:
        - restart nginx

    - name: start app
      supervisorctl: name={{ app_name }} state=started

    - name: setup database for app
      sudo_user: postgres
      postgresql_db:
        db: "{{ app_database.name }}"
        encoding: 'UTF-8'
        lc_collate: 'en_US.UTF-8'
        lc_ctype: 'en_US.UTF-8'
        template: 'template0'
        state: present

    - name: grant access for app database to app user
      sudo_user: postgres
      postgresql_user:
        db: "{{ app_database.name }}"
        user: "{{ app_database.user }}"
        password: "{{ app_database.password }}"
        priv: 'ALL'
        state: present

  handlers:
    - name: restart app
      supervisorctl: name={{ app_name }} state=restarted

    - name: restart nginx
      service: name=nginx state=restarted

