LoadPlugin postgresql

<Plugin postgresql>

{% for db in databases %}
	<Database {{ db }}>
	    Host "localhost"
		User "{{ database_user }}"
		Password "{{ database_password }}"
	    Interval 60
	    Query backends
	    Query transactions
	    Query queries
	    Query query_plans
	    Query table_states
	    Query disk_io
	</Database>
{% endfor %}

</Plugin>
